#app-title {
  background-color: purple;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.app-location {
  margin-top: 1%;
}

.forecast {
  margin-left: 1%;
}

h5 {
  margin-top: 1em;
  margin-left: 1em;
  color: purple;
  font-style: italic;
}

.data-array {
  background-color: skyblue;
}

.larger-font {
  font-size: 1.1em;
}
